extends base.pug
 
block style 
    style 
        include ../static/style.css    
        include   ../static/styleabout.css
block content 
    h1 hy i'm shivam 
    h1 welcome to my website
    div.mainbox
        section.box 
            h2 Left 
            h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi?
        section.box 
            h2 mid 
            h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi?
        section.box
            h2 mid 
            h4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, vitae. Velit, officiis totam sit enim voluptatem porro ex accusantium quasi?
