doctype html
html
  head
    title Badejan's Dance Classes
    block scripts
    block style
  body
    nav#navbar 
        img(src='logo.png', alt='login', style='width:50px;height:50px;')
        ul 

            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="") Services]
            li #[a(href="/contactUs") Contact Us]
            li #[a(href="") Class info]
    block content
    block foot
    footer#footer 
     |copyrigth @ 2019 BadejanDanceClasse.com | All rights reserved