extends  base.pug
block scripts
  script(src='/static/index.js')
block style 
    style  
        include   ../static/style.css

block content
  
    saction#introsection 
      
        div.big
         | Welcome to Badejan's Dan Academy 
        div.small  
         |  Eat Sleep Repeat 
    section#missionsection
        h3 Our mission
        div.mainbox 
            div.box   
                img(src='logo1.jpg', alt='login', style='width:70px;height:70px;')
                p our mission section Loremlded,e efle,ef elfe eeld,ed itatibus. Natus, nulla molestias!
            div.box
                img(src='logo.webp', alt='login', style='width:70px;heigth:70px;')
                p <strong>our mission</strong> lded,e efle,ef elfe eeld,ed ucimus perferendis culpa! Aspernatur quam quas magnam!
            div.box 
                img(src='logo3.jpg',alt='login' ,style='width:70px;heigth:70px;')
                p llded,e efle,ef elfe eeld,ed diandae labore adipisci aut unde quisquam.
             
    section#sponsersection   
        h3 Sopnsersections
