doctype html 
html
      head 
            title Beadejan Dance  classes 
            style  
                  include   ../static/style.css
      body 
       nav#navbar 
            img(src='logo.png', alt='login', style='width:50px;height:50px;')
            ul 

                   li #[a(href="") Home]
                   li #[a(href="") About]
                   li #[a(href="") Services]
                   li #[a(href="") Contact Us]
                   li #[a(href="") Class info]
       saction#introsection 
      
            div.big
              | Welcome to Badejan's Dan Academy 
            div.small  
               |  Eat Sleep Repeat 
       section#missionsection
            h3 Our mission
            div.mainbox 
                  div.box   
                   img(src='logo1.jpg', alt='login', style='width:70px;height:70px;')
                   p our mission section Loremlded,e efle,ef elfe eeld,ed itatibus. Natus, nulla molestias!
                  div.box
                   img(src='logo.webp', alt='login', style='width:70px;heigth:70px;')
                   p <strong>our mission</strong> lded,e efle,ef elfe eeld,ed ucimus perferendis culpa! Aspernatur quam quas magnam!
                  div.box 
                   img(src='logo3.jpg',alt='login' ,style='width:70px;heigth:70px;')
                   p llded,e efle,ef elfe eeld,ed diandae labore adipisci aut unde quisquam.
             
       section#sponsersection   
             h3 Sopnsersections
       footer#footer 
             |copyrigth @ 2019 BadejanDanceClasse.com | All rights reserved
      
       script 
            include ../static/index.js