h1{

    background-color: white;
    height: 80vh;
    text-align: center;
}
form{

    display: flex;
    background-color: aqua;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
form .item{
     margin: 10px 30px;
    padding: 5px 20px; 
    border: 2px solid black;
    border-radius: 16px;
    width: 400px;
}
 form  #btn{
    width: 50px;
    background-color: rgb(194, 11, 11);
    color: black;
}
 form  #btn:hover{
    width: 50px;
    background-color: rgb(150, 84, 84);
    color: rgb(14, 18, 253);
}