*{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
}
#navbar{
      display: flex;
      background-color:rgb(71, 23, 23);
      justify-content: left;
      align-items:center ;
      padding:2px 44px ;
}
#navbar img{
      filter: invert(1);
}
#navbar ul {
      display: flex;
      justify-content: center;
      padding: 20px;
}
#navbar ul li { 
      list-style: none;
}
#navbar ul li a { 
     text-decoration: none;
     padding:5px 20px;
}
#navbar ul li a:hover { 
  color: white;   
  
}
#introsection{
      color:white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 400px;
      background:url("bg.jpg")center/cover no-repeat;

}
#introsection .big{
      font-size: 2rem;
}
#introsection .small{
      font-size: 1.5rem;
}

#sponsersection{
      background-color: rgb(211, 136, 136);
     color:black;
    text-align: center;
     height: 400px;
  
}
/* #missionsection {

      color:white;
      display: flex;
      flex-direction: column;
      height: 400px;
      background-color: grey;
      justify-content: center;
      align-items: center;
      
} */
#missionsection h3 {

      color:white;
     text-align: center;
     
      background-color: grey;
     
      
}

#missionsection .mainbox .box{
      background-color: white;
      border: 2px solid black;
      color: black;
      margin: 20px auto;
      padding: 50px 50px;
      height: 250px;
      width: 250px;
      border-radius: 20px;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-items: center;
}
#missionsection .mainbox{
      color:white;
      height: 400px;
      background-color: grey;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

}
/* #missionsection .box img{
      display: block;
} */
#footer{
      background-color: black;
      color:white;
      height: 30px;
      text-align: center;
}